@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>WELCOME TO PETS INN HOTEL WEB!</p>
</div>
<og2 petwear\webapp\pages\shared\img\gatito-gris-pared-monocromatica-detras-ella.jpg" />