@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <img src="c:\users\dell\documents\u\proyectog2-petwear-ax\webapp\pages\shared\img\encantadoras-mascotas-mimadas-juegan-lado-lado-mirando-alerta-generada-ia.jpg" width="1000" /><br />
    <div style="width:1000px; margin-top:30px;margin-bottom:30px">
        <p style="width:50%; float:left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at urna iaculis, finibus dui vel, gravida arcu. Aliquam eleifend at purus vitae cursus. Maecenas suscipit justo scelerisque, tincidunt nibh quis, tempor lacus. Suspendisse nisl lectus, commodo ut luctus in, cursus a nunc. Curabitur ac arcu a mi feugiat lacinia eget eu sem. Nullam luctus eros sit amet neque sodales, non venenatis lorem luctus. Morbi pellentesque tincidunt dui, ut pulvinar magna faucibus at. Vivamus viverra neque id dui ullamcorper, sed rutrum tortor pharetra. Sed sollicitudin velit lorem, ut egestas lacus facilisis quis. Vivamus vestibulum vestibulum nulla a consequat. Aliquam in justo ut dolor dignissim pharetra. Curabitur enim risus, blandit egestas leo sit amet, pretium rhoncus odio. Pellentesque gravida erat sit amet ante volutpat tempor. Etiam consequat elit vitae nunc imperdiet sodales. Sed sit amet purus eu nulla semper ornare. Aenean ultricies, leo fermentum aliquet imperdiet, mauris justo molestie lectus, ut euismod risus enim consectetur diam.</p>
        <img style="float:left; margin-left:10px" src="c:\users\dell\documents\u\proyectog2-petwear-ax\webapp\pages\shared\img\gatito-gris-pared-monocromatica-detras-ella.jpg" width="470" />
    </div>
</div>
