@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <img src="~/img/encantadoras-mascotas-mimadas-juegan-lado-lado-mirando-alerta-generada-ia.jpg" width="1200" />
    <div class="block">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce turpis nibh, tristique commodo luctus eu, commodo id ante. Cras accumsan tempus leo at molestie. Cras tempor auctor magna placerat vulputate. Vivamus blandit iaculis purus quis efficitur. Duis placerat magna non ornare mollis. Nulla facilisi. Nulla tincidunt, ipsum quis convallis luctus, urna elit pretium orci, vel tempor quam magna at nisl. Cras nec turpis a augue fringilla ultrices. Donec arcu felis, laoreet vel erat id, hendrerit ultrices sem.
            Sed non egestas purus. Donec malesuada odio at tellus dictum varius. Nulla diam diam, blandit non bibendum ullamcorper, vestibulum in diam. Cras posuere in velit eu condimentum. Fusce felis quam, sagittis eu facilisis et, egestas non felis. Nunc gravida dolor ex, quis aliquet dolor rhoncus egestas. Aenean sit amet justo ut nibh iaculis porttitor. Etiam viverra nisl quis nunc tincidunt porta et non mi. Integer a accumsan purus, a ornare ante.

        </p>
        <img src="~/img/gatito-gris-pared-monocromatica-detras-ella.jpg" width="490" />
    </div>
</div>


