@page
@model WebApp.Pages.packageModel
@{
}
<script src="~/js/pages/package.js"></script>
<div class="bs-docs-section">
    <br />
     <div class=" row">
        <legend>Services List</legend>
        <div class="col-lg-6">

            <table id="tblServices" class=" display" style="width:100%">

                <thead>

                    <tr>

                        <th>Id Service</th>

                        <th>Cost (Colones)</th>

                        <th>Name Service</th>

                        <th>Description</th>

                        <th>Availability</th>

                    </tr>

                </thead>

            </table>

        </div>

    </div>

    <br />
    <div class=" row">
        <legend>Packages List</legend>
        <div class="col-lg-6">

            <table id="tblPackages" class=" display" style="width:100%">

                <thead>

                    <tr>

                        <th>Id Package</th>

                        <th>Name Package</th>

                        <th>Cost</th>

                        <th>Description</th>


                    </tr>

                </thead>

            </table>

        </div>

    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="bs-component">
                <form>

                    <legend style="color: #0092d2;">Package creation form</legend>
                    <div class="form-group">
                        <label for="txtServiceId" class="form-label mt-4">Service ID</label>
                        <input id="txtServiceId" type="number" class="form-control" aria-describedby="emailHelp" placeholder="Enter Service you want to add ID">
                        <small id="emailHelp" class="form-text text-muted">Service ID </small>
                    </div>
                    <div class="form-group">
                        <label for="txtPackageId" class="form-label mt-4">Package ID</label>
                        <input id="txtPackageId" type="number" class="form-control" aria-describedby="emailHelp" placeholder="Enter Package you want to add ID">
                        <small id="emailHelp" class="form-text text-muted">Package ID </small>
                    </div>
                    <div class="form-group">
                        <label for="txtPackageName" class="form-label mt-4">Package Name</label>
                        <input id="txtPackageName" type="number" class="form-control" aria-describedby="emailHelp" placeholder="Enter Pakage Name">
                        <small id="emailHelp" class="form-text text-muted">Service ID </small>
                    </div>


                    


                    @*<div class="form-group">
                    <label for="formFile" class="form-label mt-4">Attach your document ID.</label>
                    <input class="form-control" type="file" id="formFile">
                    </div>*@
                </form>
                <br />
                @*<button id="btnNew" class="source-button btn btn-info btn-xs" type="button" tabindex="0"><i class="bi bi-code">New</i></button>*@
                <button id="btnCreate" class="source-button btn btn-primary btn-xs" type="button" tabindex="0"><i class="bi bi-code">Registrar</i></button>
                <button id="btnAddService" class="source-button btn btn-primary btn-xs" type="button" tabindex="0"><i class="bi bi-code">Add Service</i></button>
                <button id="btnDelete" class="source-button btn btn-primary btn-xs" type="button" tabindex="0"><i class="bi bi-code">Delete</i></button>
                <button id="btnSeeDetails" class="source-button btn btn-primary btn-xs" type="button" tabindex="0"><i class="bi bi-code">See Details</i></button>
                @*<button id="btnUpdate" class="source-button btn btn-warning btn-xs" type="button" tabindex="0"><i class="bi bi-code">Update</i></button>
                <button id="btnDelete" class="source-button btn btn-danger btn-xs" type="button" tabindex="0"><i class="bi bi-code">Delete</i></button>*@
            </div>
        </div>
      
        <br />
        <div class=" row">
            <legend>Packages List</legend>
            <div class="col-lg-6">

                <table id="tblPackages_Services" class=" display" style="width:100%">

                    <thead>

                        <tr>

                            <th>Id Package</th>

                            <th>Name Package</th>

                            <th>Name Service</th>

                            <th>Cost</th>

                            <th>Description</th>

                        </tr>

                    </thead>

                </table>

            </div>

        </div>

    </div>
</div>
