@page
@model WebApp.Pages.packageModel
@{
}
<script src="~/js/pages/package.js"></script>
<div class="bs-docs-section">
   
        <br />
        <div class=" row">
            <legend>Packages List</legend>
            <div class="col-lg-6">

                <table id="tblPackages_Services" class=" display" style="width:100%">

                    <thead>

                        <tr>

                            <th>Id Package</th>

                            <th>Name Package</th>

                            <th>Name Service</th>

                            <th>Cost</th>

                            <th>Description</th>

                        </tr>

                    </thead>

                </table>

            </div>

        </div>

    </div>
</div>
