@page
@model WebApp.Pages.UsersModel
@{
}
<script src="~/js/pages/pet.js"></script>
<div class="bs-docs-section">
    <br />


    <div class="row">
        <div class="col-lg-6">
            <div class="bs-component">
                <form>

                    <legend style="color: #0092d2;">User registration form</legend>
                    <div class="form-group">
                        <label for="txtPetId" class="form-label mt-4">User ID</label>
                        <input id="txtPetId" type="number" class="form-control" aria-describedby="emailHelp" placeholder="Enter your Pet ID">
                        <small id="emailHelp" class="form-text text-muted">Your Pet ID only for update or delete</small>
                    </div>
                    <div class="form-group">
                        <label for="txtNamePet" class="form-label mt-4">Name</label>
                        <input type="text" class="form-control" id="txtNamePet" aria-describedby="emailHelp" placeholder="Enter your Pet name">
                        <small id="emailHelp" class="form-text text-muted">Use your Pet name</small>
                    </div>
             
                    <div class="form-group">
                        <label for="txtAge" class="form-label mt-4">Pet's age</label>
                        <input id="txtAge" type="number" class="form-control" aria-describedby="emailHelp" placeholder="Enter your Pet's age">
                        <small id="emailHelp" class="form-text text-muted">We'll never share this information with anyone else.</small>
                    </div>

                    <div class="form-group">
                        <label for="txtBreed" class="form-label mt-4">Breed</label>
                        <input id="txtBreed" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Please enter breed of your pet">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your information with anyone else.</small>
                    </div>

                    <div class="form-group">
                        <label for="txtWeight" class="form-label mt-4">Weight</label>
                        <input id="txtWeight" type="number" class="form-control" aria-describedby="emailHelp" placeholder="Enter your Pet's weight in kg">
                        <small id="emailHelp" class="form-text text-muted">We'll never share this information with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <label for="txtDescription" class="form-label mt-4">Description</label>
                        <input id="txtDescription" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Please enter any aditional description of your pet">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your address with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <label for="LevelAggressivenes" class="form-label mt-4">Select a level of aggressiveness of your pet</label>
                        <select id="LevelAggressivenes" class="form-control">
                            <!-- Opciones del 1 al 10 -->
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                        <small id="emailHelp" class="form-text text-muted">Select a number from 1 to 10.</small>
                    </div>

                   

                    <div class="form-group">
                    <label for="txtPhoto" class="form-label mt-4">Photo</label>
                    <button id="upload_widget" class="cloudinary-button">Upload files</button>

                    <script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>

                    <script type="text/javascript">
                        var numPhoto = 0;
                    var myWidget = cloudinary.createUploadWidget({
                    cloudName: 'deyzvu9sp',
                    uploadPreset: 'brgss5d8'
                    }, (error, result) => {
                                if (!error && result && result.event === "success" && numPhoto==0) {
                    console.log('Done! Here is the image info: ', result.info);
                    localStorage.setItem('photopet1', result.info.secure_url);
                    document
                    .getElementById("uploadedimage")
                    .setAttribute("src", result.info.secure_url);
                    numPhoto=1

                                } else if (!error && result && result.event === "success" && numPhoto == 1) {
                                    console.log('Done! Here is the image info: ', result.info);
                                    localStorage.setItem('photopet2', result.info.secure_url);
                                    document
                                        .getElementById("uploadedimage")
                                        .setAttribute("src", result.info.secure_url);

                                }
                    }
                    )

                    document.getElementById("upload_widget").addEventListener("click", function () {
                    myWidget.open();
                    }, false);
                    </script>

                    <!-- placeholder for uploaded image -->
                    <img id="uploadedimage"
                    src="" width="300">
                    </img><br />

                        <img id="uploadedimage2"
                             src="" width="300">
                        </img>



                    </div>

                    

                    


                    @*<div class="form-group">
                    <label for="formFile" class="form-label mt-4">Attach your document ID.</label>
                    <input class="form-control" type="file" id="formFile">
                    </div>*@
                </form>
                <br />
                @*<button id="btnNew" class="source-button btn btn-info btn-xs" type="button" tabindex="0"><i class="bi bi-code">New</i></button>*@
                <button id="btnCreate" class="source-button btn btn-primary btn-xs" type="button" tabindex="0"><i class="bi bi-code">Registrar</i></button>
                @*<button id="btnUpdate" class="source-button btn btn-primary btn-xs" type="button" tabindex="0"><i class="bi bi-code">Update</i></button>
                <button id="btnDelete" class="source-button btn btn-primary btn-xs" type="button" tabindex="0"><i class="bi bi-code">Delete</i></button>
                @*<button id="btnUpdate" class="source-button btn btn-warning btn-xs" type="button" tabindex="0"><i class="bi bi-code">Update</i></button>
                <button id="btnDelete" class="source-button btn btn-danger btn-xs" type="button" tabindex="0"><i class="bi bi-code">Delete</i></button>*@
            </div>
        </div>
        <div style="width:490px; margin:10px;"><img style=" border-radius:15px" src="~/img/perro.jpg" width="490" /></div>

    </div>
</div>