@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    © 2023 PETS INN.
</p>

<p>
    All rights reserved.
</p>

<p>
    This website and all its content, including, but not limited to, text, graphics, logos, icons, images, downloads, data compilations, and software, are the property of PETS INN and are protected by international and Costa Rican copyright laws.

    Any reproduction, distribution, display, or transmission of any part or parts of this website without the express written permission of PETS INN is prohibited.

    The content of this website is provided "as is" without warranties of any kind, either expressed or implied, including, but not limited to, implied warranties of merchantability, fitness for a particular purpose, or non-infringement.

    Any unauthorized use of this website may violate copyright, trademark, and other applicable laws and could result in criminal or civil penalties.

    For permissions to use the content of this website, please contact us at petsinnhotel@gmail.com or +(506)8740-2211.
</p>

<p>
    Last Updated: November 19th, 2023.
</p>
