@page
@model WebApp.Pages.UsersModel
@{
}
<script src="~/js/pages/users.js"></script>
<div class="bs-docs-section">
    <br />

    <div class=" row">

        <div class=" col-lg-6">

            <table id="tblListUsers" class=" display" style="width:100%">

                <thead>

                    <tr>

                        <th>Id</th>

                        <th>Name</th>

                        <th>Email</th>

                        <th>Birth date</th>

                        <th>Status</th>

                        <th>Created at</th>


                    </tr>

                </thead>

            </table>

        </div>

    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="bs-component">
                <form>
                   
                        <legend>User registration form</legend>
                    <div class="form-group">
                        <label for="txtId" class="form-label mt-4">User ID</label>
                        <input id="txtId" type="number" class="form-control" aria-describedby="emailHelp" placeholder="Enter User ID">
                        <small id="emailHelp" class="form-text text-muted">Your User ID</small>
                    </div>
                        <div class="form-group">
                            <label for="txtEmail" class="form-label mt-4">Email address</label>
                            <input id="txtEmail" type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                            <label for="txtName" class="form-label mt-4">Name</label>
                            <input type="text" class="form-control" id="txtName" aria-describedby="emailHelp" placeholder="Enter your complete name">
                            <small id="emailHelp" class="form-text text-muted">Use your name.</small>
                        </div>
                        <div class="form-group">
                            <label for="txtPassword" class="form-label mt-4">Password</label>
                            <input type="password" class="form-control" id="txtPassword" aria-describedby="emailHelp">
                            <small id="emailHelp" class="form-text text-muted">Use your last name.</small>
                        </div>
                        <div class="form-group">
                            <label for="txtBirthDate" class="form-label mt-4">Birth date</label>
                            <input type="date" class="form-control" id="txtBirthDate" aria-describedby="emailHelp" placeholder="Enter your bithdate">
                        </div>
                        <div class="form-group">
                            <label for="cbStatus" class="form-label mt-4">Status</label>
                            <select class="form-select" id="cbStatus">
                                <option value="1">Enabled</option>
                                <option value="0">Disabled</option>
                            </select>
                        </div>
                        @*<div class="form-group">
                        <label for="formFile" class="form-label mt-4">Attach your document ID.</label>
                        <input class="form-control" type="file" id="formFile">
                        </div>*@
                </form>
                <br />
                @*<button id="btnNew" class="source-button btn btn-info btn-xs" type="button" tabindex="0"><i class="bi bi-code">New</i></button>*@
                <button id="btnCreate" class="source-button btn btn-primary btn-xs" type="button" tabindex="0"><i class="bi bi-code">Save</i></button>
                <button id="btnUpdate" class="source-button btn btn-primary btn-xs" type="button" tabindex="0"><i class="bi bi-code">Update</i></button>
                <button id="btnDelete" class="source-button btn btn-primary btn-xs" type="button" tabindex="0"><i class="bi bi-code">Delete</i></button>
                @*<button id="btnUpdate" class="source-button btn btn-warning btn-xs" type="button" tabindex="0"><i class="bi bi-code">Update</i></button>
                <button id="btnDelete" class="source-button btn btn-danger btn-xs" type="button" tabindex="0"><i class="bi bi-code">Delete</i></button>*@
            </div>
        </div>
    </div>
</div>